[submodule "backend/dodoi-api-gateway"]
	path = backend/dodoi-api-gateway
	url = https://github.com/vitormedeiros911/dodoi-api-gateway.git
[submodule "backend/dodoi-produto-service"]
	path = backend/dodoi-produto-service
	url = https://github.com/vitormedeiros911/dodoi-produto-service.git
[submodule "backend/dodoi-farmacia-service"]
	path = backend/dodoi-farmacia-service
	url = https://github.com/vitormedeiros911/dodoi-farmacia-service.git
[submodule "backend/dodoi-usuario-service"]
	path = backend/dodoi-usuario-service
	url = https://github.com/vitormedeiros911/dodoi-usuario-service.git
[submodule "backend/dodoi-pedido-service"]
	path = backend/dodoi-pedido-service
	url = https://github.com/vitormedeiros911/dodoi-pedido-service.git
[submodule "backend/dodoi-pagamento-service"]
	path = backend/dodoi-pagamento-service
	url = https://github.com/vitormedeiros911/dodoi-pagamento-service.git
[submodule "mobile/dodoi-app-comprador"]
	path = mobile/dodoi-app-comprador
	url = https://github.com/vitormedeiros911/dodoi-app-comprador.git
